
main {
  text-align: center;
}

main > h1 {
  font-size: 9rem;
}

main > h2 {
  font-size: 4rem;
}

.toc-container {
  display: grid;
  justify-content: center;
}

.toc {
  list-style: none;
  max-width: max-content;
  margin: 0;
  padding: 0;
}

.toc a, .toc a:visited {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-black);
}

.toc li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.toc li::before {
  content: '▪';
  font-size: 2.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

/* Non-mobile */
@media (min-device-width: 801px)  {
  main > h1 {
    font-size: 7rem;
  }

  main > h2 {
    font-size: 2rem;
  }

  .toc a, .toc a:visited {
    font-size: 1.5rem;
  }

  .toc li {
    margin-bottom: unset;
  }
}